body {
    font-family: 'open sans', sans-serif;
    border-top: 7px solid #0431B4;
}

a {
    color: #0431B4;
}


a:hover {
    color: #0431B4;
}


header h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #0431B4;
}

#bio {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

header code {
    color: #000;
    font-size: 16px;
}

.nav-pills .nav-link.active{
    background-color: #0431B4;
}

.content {
    border-left: 1px solid #ddd;
}

@media only screen and (max-width: 768px) {
    .content {
	border-left: 0px;
    }

}

.content h2 {
    color: #0431B4;
    font-weight: 600;
}

.blog-post .meta {
    color: rgb(136, 136, 136);
}

footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #EEE;
    overflow: hidden;
}
.disclaimer p {
    font-size: 11px;
    text-align: center;
}
